nav
    display: flex
    position: absolute
    top: 0
    width: 100%
    height: 80px
    border-radius: 10px
    .navContainer
      position: absolute
      right: 0
      padding-top: 28px
      div
        padding: 0 95px 0px 0px
        display: inline
        a
          text-decoration: none
          color: white    
          text-shadow: 2px 2px 2px black
          cursor: pointer
          font-size: 1.4em
        a:hover
          color: black

    
footer
  display: flex
  background-image: linear-gradient(to bottom right,#0000,black)
  position: absolute
  bottom: 0
  width: 100%
  height: 100px
  color: white
  align-items: center
  .footContainer
    display: inline-flex
    div
      font-size: 1.3em
      margin-left: 50px
      text-shadow: 2px 2px 2px black
    .icons
      position: absolute
      right: 0
      font-size: 1.6em 
      margin-right: 50px
      a
        text-decoration: none
        color: white
        margin-left: 8px
      a:hover
        color: black

.App
  .titleMain
    position: absolute
    top: 40%
    left: 32%
    color: white
    font-family: "Poppins", sans-serif
    font-weight: 600
    font-size: 6em
    text-shadow: 2px 2px 2px black
    z-index: 1
  .subtitleMain
    position: absolute
    top: 46%
    left: 40%
    color: lightgreen
    text-shadow: 2px 2px 2px black
    font-family: "Poppins", sans-serif
    font-weight: 600
    font-size: 3em
    align: center

.mainPage
  display: flex
  background-image: url('../Content/images/bus_photo.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  min-height: 100vh
  max-width: 100%

.About
  display: flex
  background-image: url('../Content/images/ONas_Background.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  min-height: 100vh
  min-width: 100%
  h1
    position: absolute
    top: 42%
    left: 12%
    color: white
    font-family: "Poppins", sans-serif
    font-weight: 600
    font-size: 4em
    text-shadow: 2px 2px 2px black
    z-index: 1
    text-align: justify
    text-align-last: center
    //background-image: linear-gradient(to bottom right,#0000,black)
  p
    position: absolute
    top: 54%
    left: 12%
    color: lightgreen
    text-shadow: 2px 2px 2px black
    font-family: "Poppins", sans-serif
    font-weight: 600
    font-size: 2em
    align: center


.example-appear 
  opacity: 0.01

.example-appear.example-appear-active 
  opacity: 1
  transition: opacity .5s ease-in


.RozkladJazdy
  h1
    position: absolute
    top: 42%
    left: 12%
    color: white
    font-family: "Poppins", sans-serif
    font-weight: 600
    font-size: 4em
    text-shadow: 2px 2px 2px black
    z-index: 1
    text-align: justify
    text-align-last: center
    //background-image: linear-gradient(to bottom right,#0000,black)
  p
    position: absolute
    top: 54%
    left: 12%
    text-shadow: 2px 2px 2px black
    font-family: "Poppins", sans-serif
    font-weight: 600
    font-size: 2em
    align: center
    a
      text-decoration: none
      color: lightgreen
    a:hover
      color: white


